# ----------------------------
# ignore directories
# ----------------------------

**/__pycache__/
logs/

# ----------------------------
# ignore files
# ----------------------------

*.py[cod]
ToDo.txt
user_settings.json